.modal-contact{
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}