.list{
    display: flex;

    &__title{
        min-width: 120px ;
        width: 120px;

        @media screen and (min-width:768px) {
            min-width: 150px;
            width: 150px;
        }
    }

    &__wrapper{
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__item{
        font-size: 0.9rem;

        a{
            color: inherit;
            text-decoration: none;
        }
    }
}