.dual-wrapper{
    background: #fafafa;
    position: relative;
    color: #121212;
    padding: 0rem 1rem 2rem;
    width: 100%;

    @media screen and (min-width:768px) {
        padding: 0 3rem 3rem;
    }

    &__wrapper{
        display: flex;
        gap: 1rem;
        flex-direction: column;

        @media screen and (min-width:768px){
            flex-direction: row;
        }
    }

    &__item{
        width: 100%;
        height: 450px;
        overflow: hidden;

        @media screen and (min-width:768px) {
            
        }

        &-image{
            width: 100%;
            height: 130%;
            display: block;
            object-fit: cover;

            @media screen and (min-width:768px) {
                max-width: 50vw;
            }
        }
    }
}