.project-features{
    background: #fafafa;
    color: #131313;
    padding: 2rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    overflow: hidden;

    @media screen and (min-width:768px) {
        padding: 2rem 4rem;
    }

    &__wrapper{
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1rem;

        @media screen and (max-width:768px){
            transform: none !important;
        }
    }

    &--bold{
        font-weight: 400;
        font-size: 1.2rem;
    }

    a{
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        text-wrap: wrap;

        i{
            font-size: 0.8rem;
        }
    }
}