.header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    padding: 1rem;
    background: none; 
    color: white;
    mix-blend-mode: difference;

    @media screen and (min-width: 768px){
        padding: 1rem 3rem;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
       
    }

    &__logo{
        text-decoration: none;

        &-title{
            color: white;
            mix-blend-mode: difference;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }

    &__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fafafa;
        z-index: 500;

        &-close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0 0.5rem;
            border: none;
            background: none;
            font-size: 1.2rem;
            cursor: pointer;

            @media screen and (min-width: 768px){
                right: 3rem;
            }
        }

        &-logo{
            position: absolute;
            color: #121212;
            top: 1rem;
            left: 1rem;

            @media screen and (min-width: 768px){
                left: 3rem;
            }
        }

        &-title{
            font-size: 1.3rem;
        }
    }

    &__nav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 0 1rem;

        @media screen and (min-width: 768px){
            padding: 0 3rem;
        }

        &-link{
            text-decoration: none;
            color: #121212;
            text-transform: uppercase;
            font-family: "antonio", sans-serif;
            font-weight: 500;
            font-size: 2rem;
            padding: 0 0.3rem;
            width: fit-content;
            line-height: 100%;

            @media screen and (min-width: 768px){
                font-size: 2rem;
            }
        }
    }

    &__button{
        color: inherit;
        border: none;
        padding: 0;
        background: none;
        font-size: 1.2rem;
        position: relative;
        cursor: pointer;
    }

    &__social{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;

        @media screen and (min-width: 768px){
            padding: 1rem 3rem;
            gap: 3rem;
        }
    }
}