.header-wrapper{
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
    background: #121212;

    @media screen and (min-width: 768px){
        padding: 1rem 3rem;
    }

    &__border{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #fafafa;
    }

    &__logo{
        color: inherit;
        text-decoration: none;

        &-title{
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    &__menu{
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 4rem;
        }

        &-link{
            color: #fafafa;
            text-decoration: none;
            display: flex;
            width: 65px;
            justify-content: center;

            &--hover{
                display: none;
            }

            &:hover{

                .header__menu-link--hover{
                    display: block;
                }
            }
        }
    }

    &__button{
        border: none;
        background: none;
        color: #fafafa;
        font-size: 1rem;
        position: relative;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.mobile-header{
    position: fixed;
    top: -170px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #121212;
    border-bottom: 1px solid;
    transition: top 0.5s ease-in-out;
    z-index: 10;

    &--open{
        top: 55px;
        transition: top 0.5s ease-in-out;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1rem;

        &-link{
            color: #fafafa;
            text-decoration: none;
        }
    }

    @media screen and (min-width:768px){
        display: none;
    }
}