.footer{
    padding: 2rem 1rem;
    position: relative;

    @media screen and (min-width: 768px){
        padding: 3rem;
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &-container{
            display: flex; 
            flex-direction: column;
            gap: 0.5rem;

            @media screen and (min-width:768px){
                gap: 1rem;
            }
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @media screen and (min-width:768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            }
        }

        &-title{
            font-size: 1.3rem;
        }
    }

    &__social{
        display: flex;
        gap: 2rem;
    }
}